/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url("https://fonts.googleapis.com/css2?family=Inter:opsz@400;700&display=swap");

  /* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-family-heading: 'Inter', sans-serif;

  --ifm-color-primary: #4e5dbc;
  --ifm-color-primary-dark: #4250ae;
  --ifm-color-primary-darker: #3e4ca4;
  --ifm-color-primary-darkest: #333f87;
  --ifm-color-primary-light: #616fc3;
  --ifm-color-primary-lighter: #6b77c7;
  --ifm-color-primary-lightest: #8892d2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #bbc2ff;
  --ifm-color-primary-dark: #8f9aff;
  --ifm-color-primary-darker: #7987ff;
  --ifm-color-primary-darkest: #364bff;
  --ifm-color-primary-light: #e7eaff;
  --ifm-color-primary-lighter: #fdfdff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #030518;
}

.pseudo-icon {
  opacity: 0.8;
  padding: 0.25rem;
  margin: 0 0.5rem;
}

.pseudo-icon:hover {
  opacity: 1;
}

.pseudo-icon::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.github-icon::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23000000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme='dark'] .github-icon::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23b4b4b4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.web-icon::before {
background-image: url("data:image/svg+xml,%3Csvg width='114' height='114' viewBox='0 0 114 114' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M105.511 69.7247C105.514 74.4503 104.603 79.0596 102.797 83.4227C100.988 87.7925 98.3773 91.6968 95.0417 95.0357C91.696 98.3779 87.7883 100.985 83.425 102.791C79.0684 104.593 74.4689 105.511 69.7564 105.511H69.7298H69.7232H69.5835C62.0342 105.511 54.5414 103.05 48.4687 98.5774C42.356 94.0746 37.7632 87.5963 35.4785 80.1171C34.4542 76.745 33.9354 73.2564 33.942 69.738V43.3495C33.9454 40.8354 34.9231 38.4742 36.7024 36.695C38.4816 34.9192 40.8428 33.9414 43.3504 33.9381C45.8613 33.9448 48.2226 34.9291 49.9985 36.7017C51.7711 38.4775 52.7521 40.8387 52.7588 43.3462V69.728C52.7621 74.2574 54.5314 78.5208 57.744 81.7234C60.1252 84.0978 63.1283 85.6974 66.4274 86.3459C69.7232 87.0011 73.112 86.6652 76.2216 85.3782C79.3278 84.0912 81.9584 81.9362 83.8308 79.1394C85.7064 76.3459 86.7008 73.0935 86.7075 69.7247V16.971C86.7075 15.7306 86.9469 14.5167 87.4225 13.3694C87.8947 12.2254 88.5798 11.1978 89.4612 10.3198C90.3391 9.44521 91.3634 8.75681 92.5108 8.28126C94.8022 7.33679 97.4129 7.33347 99.7076 8.28126C100.855 8.75681 101.879 9.44521 102.757 10.3198C103.635 11.1978 104.32 12.2254 104.796 13.3694C105.271 14.5167 105.511 15.7306 105.511 16.971V69.7247ZM31.358 31.3475C28.152 34.5533 26.3827 38.8167 26.3794 43.3462V96.1032C26.3794 98.614 25.4016 100.975 23.6224 102.754C20.0706 106.313 13.8715 106.313 10.3163 102.754C8.54038 100.975 7.56263 98.614 7.56263 96.1032V43.3495C7.56928 34.7728 10.6588 26.4755 16.2626 19.984C21.8698 13.4924 29.6253 9.22904 38.1091 7.97198C39.8551 7.71258 41.6077 7.58288 43.3537 7.58288C50.0949 7.58288 56.7463 9.49177 62.4998 13.1333C65.2168 14.8526 67.6679 16.9178 69.803 19.259C69.8229 19.239 69.8362 19.2158 69.8562 19.1958L69.9061 19.3854C73.4147 23.2663 76.0619 27.8955 77.6017 32.9704L77.7481 33.4526C78.6826 36.6717 79.1548 40.0006 79.1582 43.3462V69.7247C79.1582 71.5903 78.6094 73.3961 77.5718 74.9458C76.5342 76.4956 75.0775 77.6928 73.3548 78.4111C72.2341 78.8767 71.0501 79.0962 69.8562 79.1095V79.1261C69.8096 79.1261 69.7664 79.1128 69.7198 79.1128C69.1212 79.1128 68.5193 79.0729 67.9206 78.9532C67.5748 78.8866 67.2389 78.7802 66.9063 78.6738V78.6273C66.6802 78.5541 66.4473 78.5175 66.2279 78.4244C64.5051 77.7061 63.0485 76.5089 62.0109 74.9591C60.9733 73.4061 60.4245 71.6003 60.4245 69.738V45.847H60.4179V43.3428C60.4112 41.0914 59.9722 38.8999 59.1109 36.8314C58.2462 34.7595 56.9991 32.9038 55.4061 31.3176C53.813 29.7346 51.9507 28.5008 49.8688 27.6461C47.7902 26.7914 45.582 26.3325 43.3537 26.3724C38.8241 26.3757 34.5639 28.1449 31.358 31.3475ZM108.095 4.97896C104.889 1.77643 100.632 0.0105362 96.1059 0.00388336H96.0992C91.573 0.017189 87.3194 1.7864 84.1201 4.98893C80.9274 8.19147 79.1648 12.4449 79.1582 16.971V18.8765C74.3891 11.9095 67.6646 6.45552 59.7561 3.22305C49.902 -0.79425 38.9472 -1.07027 28.8969 2.47479C20.4031 5.48776 13.1631 10.9683 7.96171 18.3245C2.76032 25.684 0.00665139 34.3372 0 43.3462V96.1032C0 100.636 1.76594 104.896 4.97191 108.102C8.17455 111.308 12.4381 113.074 16.971 113.074C21.5039 113.074 25.7641 111.308 28.9701 108.102C32.1761 104.896 33.942 100.636 33.942 96.1032V94.2109C38.7144 101.175 45.4323 106.629 53.3408 109.854C63.1882 113.872 74.1397 114.134 84.1866 110.599C92.6771 107.59 99.9105 102.106 105.115 94.7497C110.313 87.3902 113.067 78.7436 113.074 69.738V16.9677C113.067 12.4416 111.298 8.18482 108.095 4.97896Z' fill='black'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
  
}

html[data-theme='dark'] .web-icon::before {
background-image: url("data:image/svg+xml,%3Csvg width='114' height='114' viewBox='0 0 114 114' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M105.511 69.7247C105.514 74.4503 104.603 79.0596 102.797 83.4227C100.988 87.7925 98.3773 91.6968 95.0417 95.0357C91.696 98.3779 87.7883 100.985 83.425 102.791C79.0684 104.593 74.4689 105.511 69.7564 105.511H69.7298H69.7232H69.5835C62.0342 105.511 54.5414 103.05 48.4687 98.5774C42.356 94.0746 37.7632 87.5963 35.4785 80.1171C34.4542 76.745 33.9354 73.2564 33.942 69.738V43.3495C33.9454 40.8354 34.9231 38.4742 36.7024 36.695C38.4816 34.9192 40.8428 33.9414 43.3504 33.9381C45.8613 33.9448 48.2226 34.9291 49.9985 36.7017C51.7711 38.4775 52.7521 40.8387 52.7588 43.3462V69.728C52.7621 74.2574 54.5314 78.5208 57.744 81.7234C60.1252 84.0978 63.1283 85.6974 66.4274 86.3459C69.7232 87.0011 73.112 86.6652 76.2216 85.3782C79.3278 84.0912 81.9584 81.9362 83.8308 79.1394C85.7064 76.3459 86.7008 73.0935 86.7075 69.7247V16.971C86.7075 15.7306 86.9469 14.5167 87.4225 13.3694C87.8947 12.2254 88.5798 11.1978 89.4612 10.3198C90.3391 9.44521 91.3634 8.75681 92.5108 8.28126C94.8022 7.33679 97.4129 7.33347 99.7076 8.28126C100.855 8.75681 101.879 9.44521 102.757 10.3198C103.635 11.1978 104.32 12.2254 104.796 13.3694C105.271 14.5167 105.511 15.7306 105.511 16.971V69.7247ZM31.358 31.3475C28.152 34.5533 26.3827 38.8167 26.3794 43.3462V96.1032C26.3794 98.614 25.4016 100.975 23.6224 102.754C20.0706 106.313 13.8715 106.313 10.3163 102.754C8.54038 100.975 7.56263 98.614 7.56263 96.1032V43.3495C7.56928 34.7728 10.6588 26.4755 16.2626 19.984C21.8698 13.4924 29.6253 9.22904 38.1091 7.97198C39.8551 7.71258 41.6077 7.58288 43.3537 7.58288C50.0949 7.58288 56.7463 9.49177 62.4998 13.1333C65.2168 14.8526 67.6679 16.9178 69.803 19.259C69.8229 19.239 69.8362 19.2158 69.8562 19.1958L69.9061 19.3854C73.4147 23.2663 76.0619 27.8955 77.6017 32.9704L77.7481 33.4526C78.6826 36.6717 79.1548 40.0006 79.1582 43.3462V69.7247C79.1582 71.5903 78.6094 73.3961 77.5718 74.9458C76.5342 76.4956 75.0775 77.6928 73.3548 78.4111C72.2341 78.8767 71.0501 79.0962 69.8562 79.1095V79.1261C69.8096 79.1261 69.7664 79.1128 69.7198 79.1128C69.1212 79.1128 68.5193 79.0729 67.9206 78.9532C67.5748 78.8866 67.2389 78.7802 66.9063 78.6738V78.6273C66.6802 78.5541 66.4473 78.5175 66.2279 78.4244C64.5051 77.7061 63.0485 76.5089 62.0109 74.9591C60.9733 73.4061 60.4245 71.6003 60.4245 69.738V45.847H60.4179V43.3428C60.4112 41.0914 59.9722 38.8999 59.1109 36.8314C58.2462 34.7595 56.9991 32.9038 55.4061 31.3176C53.813 29.7346 51.9507 28.5008 49.8688 27.6461C47.7902 26.7914 45.582 26.3325 43.3537 26.3724C38.8241 26.3757 34.5639 28.1449 31.358 31.3475ZM108.095 4.97896C104.889 1.77643 100.632 0.0105362 96.1059 0.00388336H96.0992C91.573 0.017189 87.3194 1.7864 84.1201 4.98893C80.9274 8.19147 79.1648 12.4449 79.1582 16.971V18.8765C74.3891 11.9095 67.6646 6.45552 59.7561 3.22305C49.902 -0.79425 38.9472 -1.07027 28.8969 2.47479C20.4031 5.48776 13.1631 10.9683 7.96171 18.3245C2.76032 25.684 0.00665139 34.3372 0 43.3462V96.1032C0 100.636 1.76594 104.896 4.97191 108.102C8.17455 111.308 12.4381 113.074 16.971 113.074C21.5039 113.074 25.7641 111.308 28.9701 108.102C32.1761 104.896 33.942 100.636 33.942 96.1032V94.2109C38.7144 101.175 45.4323 106.629 53.3408 109.854C63.1882 113.872 74.1397 114.134 84.1866 110.599C92.6771 107.59 99.9105 102.106 105.115 94.7497C110.313 87.3902 113.067 78.7436 113.074 69.738V16.9677C113.067 12.4416 111.298 8.18482 108.095 4.97896Z' fill='white'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
}

html[data-theme='dark'] .launch-express {
  background-color: var(--ifm-color-primary-darkest);
  border-radius: 4px;
  margin-right: 12px;
  transition-property: all;
}

.launch-express {
  background-color: var(--ifm-color-primary-lightest);
  border-radius: 4px;
  margin-right: 12px;
  transition-property: all;
}

.launch-express:hover {
  background-color: var(--ifm-color-primary-darker);
  -webkit-text-fill-color: white;
}

.wallets-container {
  display: flex;
  gap: 30px;
}

.wallet-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mermaid diagram styling - minimal external CSS since themeCSS handles most styling */
