name: Check Markdown Links

on:
   pull_request:
   push:
      branches:
        - main

permissions:
   contents: read

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
